<% content_for :jstemplates do -%>
<%#= javascript_include_tag "jquery.livequery" %>
<%#= javascript_include_tag "jquery.easing.1.3" %>
<%#= javascript_include_tag "jquery.fancybox-1.2.1.pack" %>
<%#= stylesheet_link_tag "jquery.fancybox" %>
<% end -%>
<h1>Listing photos</h1>

<div class="photos">
<% @photos.each do |photo| %>
<%= render :partial => 'photo', :object => photo %>
<% end %>
</div>

<br />

<h1>New photo</h1>

<%= render :partial => "upload" %> 