<h1>New photo</h1>

<% form_for(@photo, :html => { :multipart => true}) do |f| %>
  <%= f.error_messages %>

  <%= f.file_field :photo %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', photos_path %>